@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1621 NE Knott St<br />
    Portland, OR 97212<br />
    <abbr title="Phone">P:</abbr>
    971.313.4595
</address>

<address>
    <strong>Email:</strong> <a href="jamescarlosborn@gmail.com">jamescarlosborn@gmail.com</a><br />
</address>