@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<img src="/img/jamesprofilepic.png" id="profilepic">
<h1>James Carl Osborn</h1>

<address>
    1621 NE Knott St<br />
    Portland, OR 97212<br />
    P:
    971.313.4595
</address>

<address>
    <strong>Email:</strong> <a href="jamescarlosborn@gmail.com">jamescarlosborn@gmail.com</a><br />
</address>