@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<img src="/img/jamesprofilepic.png" id="profilepic">
<h1>James Carl Osborn</h1>
<address>
    1621 NE Knott St<br />
    Portland, OR 97212<br />
    P:
    971.313.4595
</address>

<address>
    <p><strong>Email:</strong> <a href="jamescarlosborn@gmail.com">jamescarlosborn@gmail.com</a></p>
    <p><strong>GitHub</strong> <a href="https://github.com/jamescosborn">https://github.com/jamescosborn</a></p>
    <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/james-osborn/">https://www.linkedin.com/in/james-osborn/</a></p>
</address>
<p>As a kid in the 90s, I made my first website with basic HTML when I was in 6th grade. I was also a member of many
    GeoCities communities.
    These experiences gave me an early interest in developing websites and online communities.
    I'm excited to have taken my development skills to the next level with Epicodus, as exhibited by the projects
    here 
    in my portfolio,
    and the portfolio itself.</p>
<br />
<h2>Experience</h2>
<hr />

<h3>Uber/Lyft, Portland, OR — Cab Driver</h3>
<h4>March 2017 - present</h4>
<ul>
    <li>Providing a clean and friendly cab with great tunes to the city of Portland.</li>
</ul>

<h3>Free Reign Entertainment, Los Angeles, CA — QA Lead</h3>
<h4>April 2015 - July 2015</h4>
<h5></h5>
<ul>
    <li>Coordinated game testing on two PC games in development: a 5v5 tactical shooter (Burstfire) and a zombie survival game (Infestation: Survivor Stories).</li>
    <li>Assisted customers with game & payment issues via support tickets.</li>
</ul>

<h3>Adhesive Games, Pasadena, CA — QA Tester, Game Writer</h3>
<h4>April 2012 - May 2014</h4>
<h5></h5>
<ul>
    <li>Lead game tester for a successful free-to-play game with over a million registered players (Hawken).</li>
    <li>
        Completed a variety of daily tasks related to game testing, including but not limited to: setting up PCs, delivering game builds to 30+ employees via UnrealProp, and composing test plans with Excel/Outlook.
    </li>
    <li>
        Worked over 40 hours a week during crunch time.
    </li>
</ul>
<br />
<h2>Relevant Skills</h2>
<hr />
<br />
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>C#</li>
    <li>.NET</li>
    <li>SQL</li>
</ul>