@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h1>I was raised by wolves.</h1>

<h3>Drawing of myself:</h3>
<p>     o </p>
<p>    /|\  </p>
<p>     /\  </p>

<address>
    1621 NE Knott St<br />
    Portland, OR 97212<br />
    P:
    971.313.4595
</address>

<address>
    <strong>Email:</strong> <a href="jamescarlosborn@gmail.com">jamescarlosborn@gmail.com</a><br />
</address>