<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/master.css">
    </environment>
</head>
<body>
    <div>
        <h1>Portfolio</h1>
        @RenderBody()
    </div>
</body>
</html>
